# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/

# Environment variables
.env

# Virtual Environment
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend (if applicable)
node_modules/
.vercel/

package*.json